@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@400;700&display=swap');
:root {
    --blue-01: #1F3F68;
    --blue-02: #316099;
    --blue-03: #356EAD;
    --blue-04: #5A98D0;
    --blue-05: #98C3E8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Libre Baskerville', serif; */
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--blue-01);
    width: 100vw;
    overflow-x: hidden;
}
/* nav */
.nav__bar{
    margin: 0.8rem 1.5rem;
    display: flex;
    justify-content: space-between;
}
.nav__dropdown{
    font-size: 1.8rem;
}
.nav__list{
    display: none;
}
@media screen and (min-width: 768px){
    .nav__dropdown{
        display: none;
    }
    .nav__list{
        display: block;
    }
    .nav__list > ul li{
        list-style-type: none;
        display: inline-block;
        margin: 0.4rem;
    }
}
/* end of nav */
/* header */
header{
    /* margin: 0rem 1.5rem */
}
.header__title p{
    margin: 5rem 1.5rem 2rem 1.5rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.3rem;
    font-weight: 700;
    text-align: left;
}
#h-content1{
    margin: 0rem 1.5rem;
    opacity: 0.6;
    text-align: justify;
}
#h-content2{
    color: white;
    background: var(--blue-04);
    width: 12rem;
    padding: 0.8rem 2rem;
    border-radius: 15px;
    text-align: center;
    margin: 0.5rem 1.5rem 0rem 1.5rem;
    box-shadow: 5px 5px 50px var(--blue-05);
}
.header__content > img{
    width: 100vw;
    padding: 0 1.5rem;
    margin: -1rem 0rem 0rem 0rem;
    background: linear-gradient(rgba(253, 253, 253, 0),rgb(103, 191, 231,0.2));
}
@media screen and (min-width: 768px){
    .header{
        background: linear-gradient(rgba(253, 253, 253, 0),rgb(103, 191, 231,0.2)), url(assets/images/hero.svg) no-repeat right/50% 70%;
        padding-bottom: 2rem;
    }
    .header__title>p{
        font-size: 3rem;
    }
    .header> div{
        width: 50vw;
        text-align: left;
        clear: both;
    }
    .header__content{
        position: relative;
    }
    .header__content>img{
        position: absolute;
        left: 20rem;
        top: -10rem;
        width: 50vw;
        display: none;
    }
    #h-content1{
        padding-bottom: 2rem;
    }
}
/* end of header */
/* section */
/* start of section actions */
.section__actions-title{
    color: var(--blue-02);
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    margin: 2rem 2rem 0rem 2rem;
}
.section__actions-article{
    padding: 1.5rem;
    background: white;
    border-radius: 10px;
    margin: 1.5rem;  
    box-shadow: 2px 2px 50px rgb(103, 191, 231,0.4);
}
.section__actions-article > img{
    width: 10rem;
    margin-bottom: 2.7rem;
}
.section__actions-article > p:nth-child(2){
    color: var(--blue-01);
    font-size: 1.3rem;
}
.section__actions-article> p:nth-child(3){
    opacity: 0.6;
    text-align: left;
}
.section__actions-article > p:nth-child(4){
    color: var(--blue-04);
    margin-top: 1rem;
    font-size: 1.1rem;
}
.section__actions-article > p:nth-child(4)>span{
    margin-left: 1rem;
    font-size: 1.3rem;
    vertical-align: middle;
    
}
@media screen and (min-width: 768px){
    .section__actions{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: baseline;
    }
    .section__actions-title{
        text-align: center;
        flex: 1 1 60vw;
        margin-bottom: 0;
        padding: 0 10rem 10rem 10rem;

    }
    #section-article1{
        margin-top: -15rem;
        width: 40vw;
        flex: 0 0 auto;
        align-self: flex-start;
        order: 2;
    }
    #section-article2{
        margin-top: -20rem;
        width: 40vw;
        flex: 0 1 auto;
        order: 1;
        align-self: flex-end;
    }
    #section-article3{
        margin-top: -12rem;
        width: 40vw;
        flex: 0 1 auto;
        order: 3;
        align-self: flex-end;

    }
}
@media screen and (min-width: 800px){
    .section__actions{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: baseline;
    }
    .section__actions-title{
        width: 60vw;
        align-self: flex-start;
        flex: 0 1 40vw;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0 10rem 10rem 1.5rem;

    }
    #section-article1{
        margin-top: -15rem;
        width: 40vw;
        flex: 0 0 auto;
        align-self: flex-start;
        order: 2;
    }
    #section-article2{
        margin-top: -20rem;
        width: 40vw;
        flex: 0 1 auto;
        order: 1;
        align-self: flex-end;
    }
    #section-article3{
        margin-top: -12rem;
        width: 40vw;
        flex: 0 1 auto;
        order: 3;
        align-self: flex-end;

    }
}
/* end of section__actions */
/* start of section__finished */
.section__finished{
    display: flex;
    flex-direction: column
    justify-content: ;
    flex-wrap: wrap;
    margin: 0rem 1.5rem;
}
.section__finished-title{
    flex: 0 0 70vw;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 2rem;
    margin-bottom: 2.5rem;
}
.section__finished-marticle{
    opacity: 0.6;
    flex: 1 0 90%;
}
#finished-article1{
    margin-top: 1rem;
    color: white;
    width: 90vw;
    height: 20rem;
    background:  linear-gradient(to right, rgba(31, 63, 104,1) 6%, rgba(31, 63, 104,0.7)
, rgba(31,63,104, 0.35)) 20%, url(assets/images/smart-home-bg.jpg) no-repeat center/100% 100%;
border-radius: 20px;
}
#finished-article1 p:nth-child(1){
    text-align: right;
    font-size: 1.3rem;
    text-transform: capitalize;
    margin: 1rem 1rem 2rem 1rem ;
}
#finished-article1 p:nth-child(2){
    text-align: right;
    margin: 1rem;
    text-transform: capitalize;
}
#finished-article1>img{
    width: 15rem;
    position: relative;
    top: -32px;

}
#finished-article2{
    margin-top: 2rem;
    color: white;
    width: 90vw;
    height: 20rem;
    background:  linear-gradient(to right, rgba(31, 63, 104,1) 6%, rgba(31, 63, 104,0.7)
, rgba(31,63,104, 0.35)) 20%, url(assets/images/sparklite.png) no-repeat center/100% 100%;
border-radius: 20px;
}
#finished-article2>p{
    margin: 1.5rem;
    text-transform: capitalize;
}

#finished-article3{
    color: white;
    margin-top: 1.5rem;
    width: 90vw;
    height: 20rem;
    background:  linear-gradient(to right, rgba(31, 63, 104,1) 6%, rgba(31, 63, 104,0.7)
, rgba(31,63,104, 0.35)) 20%, url(assets/images/car.png) no-repeat center/100% 100%;
border-radius: 20px;
}
#finished-article3>p{
    margin: 1.5rem;
    text-transform: capitalize;
}
@media screen and (min-width: 768px){
    .section__finished{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .section__finished-title{
        width: 30vw;
        flex: 0 1 40vw;
        align-self: baseline;
    }
    .section__finished-marticle{
        flex: 0 1 40vw;
        align-self: center;
        text-align: left;
    }
    #finished-article1{

    }
    #finished-article2{
        flex: 0 1 40vw;
    }
    #finished-article3{
        flex: 0 1 40vw;
    }
}
/* end of section finished */
/* end of section */
/* start of footer */
    
footer{
    margin-top: 3rem;
}
.footer__beloved{
    background: var(--blue-04);
    color: white;
    border-radius: 100px 0 0 0;
    padding-bottom: 17rem;
}
.footer__beloved-title{
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem 0 0 1.5rem;
}
.footer__beloved-article{
    padding: 3rem 1.5rem 0 1.5rem;
    opacity: 0.6;
}
.footer__beloved-contents{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem auto;
    font-size: 1.2rem;
}
.footer__beloved-contents > p:nth-child(even){
    padding: 1rem;
    text-align: center;
    flex: 0 0 35vw;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}
.footer__beloved-contents > p:nth-child(odd){
    padding: 1rem;
    text-align: center;
    flex: 0 0 35vw;
    border-right: 1px solid white;
    border-bottom: 1px solid white;

}
.footer__beloved-contents > p:nth-child(7),.footer__beloved-contents > p:nth-child(8){
    border-bottom: none;
}
.footer__beloved-contents > p:nth-child(8){
    background: var(--blue-03);
}
.footer__work{
    background: var(--blue-02);
    color: white;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    margin-top: -11rem;
}
.footer__work-title{
    font-size: 2rem;
    font-weight: 700;
}
.footer__work-content{
    opacity: 0.6;
    text-align: left;
    margin-top: 2rem;
}
.footer__work-link{
    width: 8rem;
    padding: 1rem 0rem;
    background: var(--blue-04);
    color: var(--blue-01);
    text-align: center;
    border-radius: 10px;
    margin: 1rem auto 0rem auto;
}
.footer__info{
    background: var(--blue-02);
    margin-top: 0.1rem;
    padding: 1.5rem;
    color: white;
    text-align: center;
}
.footer__info li{
    list-style-type: none;
}
.footer__logo{
    text-align: center;
}
.footer__logo>*{
    display: inline-block;
}
.footer__logo> img{
    vertical-align: middle;
}
.footer__logo>p{
    font-weight: 700;
}
.ficon{
    padding: 1rem;
}
.ficon>*{
    display: inline;
}
.ficon>span{
    padding-right: 0.5rem;
}
.ficon>p{
    text-align: justify;
}
.footer__info-about> div:nth-child(1){
    font-weight: 700;
    padding-bottom: 1rem;
}
.footer__info-about>div > ul li{
    display: block;
    padding-bottom: 1rem;
}
.footer__info-follow> div:nth-child(1){
    font-weight: 700;
    padding-bottom: 1rem;
}
.footer__info-follow> ul li{
    padding-bottom: 1rem;
}
.footer__info-follow span{
    padding-right: 0.5rem;
}
.copyr{
    background: var(--blue-02);
    color: white;
    opacity: 0.6;
}
@media screen and (min-width: 768px){
    .footer__beloved{
        display: flex;
        flex-wrap: wrap;
    }
    .footer__beloved-title{
        width: 40vw;
        align-self: flex-start;
        padding-left: 4rem;
    }
    .footer__beloved-article{
        width: 40vw;
        align-self: flex-end;
        margin-left: 6rem;
    }
    .footer__beloved-contents{
        width: 80vw;
        justify-content: center;
        /* as child */
        /* as parent */
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .footer__work{
        border-radius: 0 100px 0 0 ;
        display: flex;
        flex-wrap: wrap;
    }
    .footer__work-title{
        width: 40vw;
        order: 1;
        align-self: flex-start;
    }
    .footer__work-content{
        margin-bottom: 2rem;
        margin-top: -1rem;
        width: 40vw;
        order: 3;
        align-self: flex-start;
    }
    .footer__work-link{
        margin-top: 5rem;
        order: 2;
        align-self: center;
    }
    .footer__info{
        display: flex;
    }
    .footer__info-afrianska{
        flex: 0 1 30vw;
    }
    .footer__info-afrianska>*{
        padding-bottom: 0.5rem;
    }
    .footer__info-about{
        flex: 0 1 30vw;
    }
    .footer__info-follow{
        flex: 0 1 30vw;
    }
}
@media screen and (min-width: 800px){
    .footer__beloved{
        display: flex;
        flex-wrap: wrap;
    }
    .footer__beloved-title{
        width: 40vw;
        align-self: flex-start;
        padding-left: 4rem;
    }
    .footer__beloved-article{
        width: 40vw;
        align-self: flex-end;
        margin-left: 6rem;
    }
    .footer__beloved-contents{
        width: 80vw;
        justify-content: center;
        /* as child */
        /* as parent */
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
    }
    .footer__beloved-contents>p:nth-child(1){
        width: 20vw;
        flex: 0 1 20vw;
    }
    .footer__beloved-contents>p:nth-child(2){
        width: 20vw;
        flex: 0 1 20vw;
    }
    .footer__beloved-contents>p:nth-child(3){
        width: 20vw;
        flex: 0 1 20vw;
        border-left: 1px solid white;
    }
    .footer__beloved-contents>p:nth-child(4){
        width: 20vw;
        flex: 0 1 20vw;
    }
    .footer__beloved-contents>p:nth-child(5){
        width: 20vw;
        flex: 0 1 20vw;
        border-bottom: none;
    }
    .footer__beloved-contents>p:nth-child(6){
        width: 20vw;
        flex: 0 1 20vw;
        border-bottom: none;
    }
    .footer__beloved-contents>p:nth-child(7){
        width: 20vw;
        flex: 0 1 20vw;
        border-left: 1px solid white;
    }
    .footer__beloved-contents>p:nth-child(8){
        width: 20vw;
        flex: 0 1 20vw;
    }

    .footer__work{
        border-radius: 0 100px 0 0 ;
        display: flex;
        flex-wrap: wrap;
    }
    .footer__work-title{
        width: 40vw;
        order: 1;
        align-self: flex-start;
    }
    .footer__work-content{
        margin-bottom: 2rem;
        margin-top: -1rem;
        width: 40vw;
        order: 3;
        align-self: flex-start;
    }
    .footer__work-link{
        margin-top: 5rem;
        order: 2;
        align-self: center;
    }
    .footer__info{
        display: flex;
    }
    .footer__info-afrianska{
        flex: 0 1 30vw;
    }
    .footer__info-afrianska>*{
        padding-bottom: 0.5rem;
    }
    .footer__info-about{
        flex: 0 1 30vw;
    }
    .footer__info-follow{
        flex: 0 1 30vw;
    }
}
/* end of footer */